# Global Environment Template
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# JWT
JWT_ISSUER=healthcare-system-issuer
JWT_SECRET_KEY=your_secret_key
