fastapi
uvicorn
sqlalchemy
asyncpg
pydantic-settings
alembic
psycopg2-binary
email-validator
uuid-extension
pika
aio-pika
python-dotenv
PyJWT[crypto]
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-logging
